.galery {
  max-height: 47.5vh;
  height: auto;
  background-color: black;
  overflow: hidden;
}

.galery .fotos {
  width: 500%;
  animation-name: animacao;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

.galery .fotos img {
  width: 19.9%;
}
@keyframes animacao {
  0% { margin-left: 0; }
  20% { margin-left: 0; }
  25% { margin-left: -100%; }
  45% { margin-left: -100%; }
  50% { margin-left: -200%; }
  70% { margin-left: -200%; }
  75% { margin-left: -300%; }
  95% { margin-left: -300%; }
  100% { margin-left: -400%; }
}
#botton-menu{
  background-color: #DD0000;
  padding: 0.5rem;
}
#botton-menu ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}
#botton-menu ul li{ 
  color: #F50A0A;
  background-color: #FFFFFF;
  padding: 0.8rem;
  border-radius: 10px;
  list-style: none;
}
#botton-menu ul li a{
  font-weight: bold;
  margin: 3.5vh; 
}
.main-apresentacao section{
  display: flex;
  align-items: center;
  margin: 5vh;
}
.main-apresentacao h2{
  text-align: center;
  margin: 5.5vh;
}
div.linha{
  width: 100%;
  border: 1px solid #000;

  max-width: 82vw
}
.main-apresentacao{
  margin: 10.5vh
}
.main-apresentacao div{
  text-align: center;
  margin: 0 5vw;
}
.main-franquia{
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #DD0000;

  padding: 4.5vw;
}
.main-franquia a{
  margin: 10vh;
}
.img-franquia{
  position: absolute;
  max-width: 45vh;
  padding: 0 0 0.9vw 70vw;
}
.blog-top{
  margin-left: 5vw;
}
.main-blog{
  display: flex;
  align-items: center;
  justify-content: center;
}
.card{
  border-radius: 5px;
  box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
  padding: 30px;
  margin: 20px;
  width: 400px;
  text-align: center;
  transition: all 0.3s ease-out;
}
.card:hover {
  transform: translateY(-5px);
  cursor: pointer;
}
article #download{
  border-radius: 4px;
  background-color: #FDED04;
  border: none;
  color: #DD0000;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  cursor: pointer;
  margin: 5px 0 10px 45%;
}
#download a{
  position: relative;
  transition: 0.5s;
  color: #DD0000;
  text-decoration: none;
}
#download a::after{
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
#download:hover a{
  padding-right: 25px;
}
#download:hover a::after{
  opacity: 1;
  right: 0;
}